.container-signUp{
    background:linear-gradient(135deg,#8559a5,#a72461);
    height: 100%;
}

.paddingButton{
    padding-top: 5%;
}

.button-signUp{
    margin-top: 30px;
    display:inline-block;
    padding:0.35em 1.2em;
    margin-left: 6%;
    margin-right: 6%;
    border:0.1em solid #FFFFFF;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    font-size: 20px;
    background-color: transparent;
}

.button-signUp:hover{
    color:#000000;
    background-color:#FFFFFF;
}
@media all and (max-width:30em) {
     button-signUp{
        display: block;
        margin: 0.4em auto;
    }
}

.formSignUp{
    padding-right: 3%;
    padding-top: 2%;
    padding-left: 3%;
    background-color: rgba(0,0,0,0.2);
}

.lableSignUp{
    font-size: 17px;
    color: #FFFFFF;
    text-align: left;
    padding-left: 0px;
    margin-left: 0px;
}

.btnSignUp{
    font-size: 15px;
    padding-bottom: 3%;
    margin-bottom: 3%;
    margin-top: 3%;
    text-align: center;
}

.space{
    margin-bottom: 10px;
    font-size: 15px;
}

.imgSignUp{
    padding-right: 15%;
    padding-left: 0%;
    padding-top: 10%;
    margin-left: 0%;
}